<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.bottiger.podcast"
    android:versionCode="25"
    android:versionName="0.19" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <application
        android:name="SoundWaves"
        android:debuggable="true"
        android:icon="@drawable/soundwaves"
        android:label="@string/app_name"
        android:theme="@style/SoundWavesTheme.Light" >
        <uses-library android:name="android.test.runner" />

        <activity android:name="com.handmark.pulltorefresh.library.PullToRefreshListView" />
        <activity
            android:name="org.bottiger.podcast.MainActivity"
            android:label="@string/title_activity_swipe" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <meta-data
                android:name="com.google.android.apps.drive.APP_ID"
                android:value="API_KEY" />
            
        </activity>
        <activity
            android:name=".NotificationReveiverActivity"
            android:label="@string/app_name" > <!-- android:parentActivityName=".MainActivity" -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SwipeActivity" />
        </activity>
        <activity
            android:name="org.bottiger.podcast.PodcastSubscriberActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.xml" />
                <data android:pathPattern=".*\\.rss" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:host="feeds.feedburner.com" />
                <data android:host="feedproxy.google.com" />
                <data android:host="feeds2.feedburner.com" />
                <data android:host="feedsproxy.google.com" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:mimeType="text/xml" />
                <data android:mimeType="application/rss+xml" />
                <data android:mimeType="application/atom+xml" />
                <data android:mimeType="application/xml" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="Settings" >
        </activity>

        <service
            android:name="org.bottiger.podcast.service.PodcastService"
            android:enabled="true" >
        </service>
        <service
            android:name="org.bottiger.podcast.service.PlayerService"
            android:enabled="true" >
        </service>
        <service
            android:name="org.bottiger.podcast.service.HTTPDService"
            android:enabled="true" >
        </service>
        <service
            android:name="org.bottiger.podcast.cloud.drive.DriveSyncService"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <receiver
            android:name="PodcastUpdateManager"
            android:process=":remote" >
        </receiver>
        <receiver android:name="org.bottiger.podcast.receiver.NotificationReceiver" >
            <intent-filter>
                <action android:name="org.bottiger.soundwaves.TOGGLE" >
                </action>
                <action android:name="org.bottiger.soundwaves.NEXT" >
                </action>
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.AutoStart" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" >
                </action>
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.DownloadManagerReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>
        <receiver android:name="org.bottiger.podcast.receiver.HeadsetReceiver" >
            <intent-filter android:priority="1000000000000000" >
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <provider
            android:name="org.bottiger.podcast.provider.PodcastProvider"
            android:authorities="org.bottiger.podcast.provider.PodcastProvider" >
        </provider>
    </application>

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="Hapi Podcast test"
        android:targetPackage="org.bottiger.podcast" />

</manifest>