<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.bottiger.podcast"
    android:versionCode="1"
    android:versionName="0.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <application
        android:debuggable="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <uses-library android:name="android.test.runner" />

        
        
        <activity
            android:name=".SwipeActivity"
            android:label="@string/title_activity_swipe" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="info.bottiger.podcast.StartupActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            </intent-filter>
        </activity>
        <activity
            android:name="info.bottiger.podcast.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            </intent-filter>
        </activity>
        <activity
            android:name="info.bottiger.podcast.AllItemActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="info.bottiger.podcast.ItemActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.EDIT" />

                <data android:mimeType="vnd.android.cursor.item/vnd.bottiger.podcast.item" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="info.bottiger.podcast.PlayerActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="info.bottiger.podcast.SearchActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="info.bottiger.podcast.ChannelActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.EDIT" />

                <data android:mimeType="vnd.android.cursor.item/vnd.bottiger.podcast.subscription" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="info.bottiger.podcast.ChannelDetailsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <data android:mimeType="vnd.android.cursor.item/vnd.bottiger.podcast.subscription" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="info.bottiger.podcast.ChannelsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="info.bottiger.podcast.AddChannelActivity"
            android:label="@string/title_channels" >
        </activity>
        <activity
            android:name="info.bottiger.podcast.BackupChannelsActivity"
            android:label="@string/title_channels" >
        </activity>
        <activity
            android:name="info.bottiger.podcast.Pref"
            android:label="Settings" >
        </activity>
        <activity
            android:name="info.bottiger.podcast.HomeActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="info.bottiger.podcast.DownloadingActivity"
            android:label="Downloading" >
        </activity>
        <activity
            android:name="info.bottiger.podcast.PlayListActivity"
            android:label="Playlist" >
        </activity>

        <service
            android:name="info.bottiger.podcast.service.PodcastService"
            android:enabled="true" >
        </service>
        <service
            android:name="info.bottiger.podcast.service.PlayerService"
            android:enabled="true" >
        </service>

        <provider
            android:name="info.bottiger.podcast.provider.PodcastProvider"
            android:authorities="info.bottiger.podcast.provider.podcastprovider" >
        </provider>

    </application>

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="Hapi Podcast test"
        android:targetPackage="info.bottiger.podcast" />

</manifest>