<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.bottiger.podcast">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission-sdk-m android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <uses-feature android:name="android.hardware.telephony" android:required="false" />

    <supports-screens
        android:anyDensity="true"
        android:xlargeScreens="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <application
        android:name="SoundWaves"
        android:icon="@drawable/ic_launcher_sw"
        android:label="@string/app_name"
        android:theme="@style/SoundWavesTheme.Light">

        <uses-library android:name="android.test.runner" />

        <activity
            android:name="org.bottiger.podcast.MainActivity"
            android:label="@string/title_activity_swipe" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.apps.drive.APP_ID"
                android:value="FILL_ME_IN" />
        </activity>

        <activity android:name=".activities.feedview.FeedActivity"
            android:theme="@style/Theme.Transparent"
            android:label="@string/app_name"
            android:parentActivityName="org.bottiger.podcast.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.bottiger.podcast.MainActivity" />
        </activity>

        <activity android:name="org.bottiger.podcast.DiscoveryFeedActivity"
            android:theme="@style/Theme.Transparent"
            android:label="@string/app_name"
            android:parentActivityName="org.bottiger.podcast.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.bottiger.podcast.MainActivity" />
        </activity>

        <activity android:name=".activities.downloadmanager.DownloadManagerActivity"
            android:label="@string/activity_download_name"
            android:parentActivityName="org.bottiger.podcast.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.bottiger.podcast.MainActivity" />
        </activity>

        <provider
            android:name="org.bottiger.podcast.provider.PodcastProvider"
            android:authorities="org.bottiger.podcast.provider.PodcastProvider"
            android:syncable="true">
        </provider>

        <service android:name="org.bottiger.podcast.service.jobservice.PodcastUpdateJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".NotificationReveiverActivity"
            android:label="@string/app_name" > <!-- android:parentActivityName=".MainActivity" -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SwipeActivity" />
        </activity>
        <activity
            android:name="org.bottiger.podcast.PodcastSubscriberActivity"
            android:label="@string/app_name"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.xml" />
                <data android:pathPattern=".*\\.rss" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:host="feeds.feedburner.com" />
                <data android:host="feedproxy.google.com" />
                <data android:host="feeds2.feedburner.com" />
                <data android:host="feedsproxy.google.com" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:mimeType="text/xml" />
                <data android:mimeType="application/rss+xml" />
                <data android:mimeType="application/atom+xml" />
                <data android:mimeType="application/xml" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.openopml.OpenOpmlFromIntentActivity"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="*"
                    android:pathPattern=".*\\.opml"
                    android:scheme="file"
                    android:mimeType="*/*"/>
                <data
                    android:host="*"
                    android:pathPattern=".*\\.opml"
                    android:scheme="content"
                    android:mimeType="*/*"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="Settings">
        </activity>

        <service android:name="org.bottiger.podcast.service.NotificationListener"
            android:label="TestListener"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service
            android:name="org.bottiger.podcast.service.PlayerService"
            android:enabled="true"
            android:permission="android.permission.MEDIA_CONTENT_CONTROL">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>

        </service>
        <service
            android:name="org.bottiger.podcast.service.DownloadService"
            android:enabled="true" >
        </service>
        <service
            android:name=".player.sonic.SoundService"
            android:enabled="true">
        </service>

        <service
            android:name="org.bottiger.podcast.service.syncadapter.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <!-- android:process=":sync" -->
        <service
            android:name="org.bottiger.podcast.service.syncadapter.CloudSyncService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <receiver
            android:name="PodcastUpdateManager"
            android:process=":remote" >
        </receiver>
        <receiver android:name="org.bottiger.podcast.receiver.NotificationReceiver" >
            <intent-filter>
                <action android:name="org.bottiger.soundwaves.TOGGLE" >
                </action>
                <action android:name="org.bottiger.soundwaves.NEXT" >
                </action>
                <action android:name="org.bottiger.soundwaves.CLEAR" >
                </action>
                <action android:name="org.bottiger.soundwaves.PLAY" >
                </action>
                <action android:name="org.bottiger.soundwaves.PAUSE" >
                </action>
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.AutoStart" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" >
                </action>
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.DownloadManagerReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>
        <receiver android:name="android.support.v4.media.session.MediaButtonReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <!--
        Don't be a dick :)
        -->
        <meta-data
            android:name="com.bugsnag.android.API_KEY"
            android:value="cb1654e5ce7afda81ad5c189540d5ecc"/>

        <meta-data
            android:name="org.bottiger.podcast.images.SoundWavesGlideModule"
            android:value="GlideModule" />

    </application>

    <instrumentation
        android:name="android.support.test.runner.AndroidJUnitRunner"
        android:label="SoundWaves Podcatcher test"
        android:targetPackage="org.bottiger.podcast" />

</manifest>