<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.bottiger.podcast">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />

    <uses-permission-sdk-23 android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <instrumentation
        android:name="android.support.test.runner.AndroidJUnitRunner"
        android:label="SoundWaves Podcatcher test"
        android:targetPackage="org.bottiger.podcast" />

    <application
        android:name=".SoundWaves"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/SoundWavesTheme.Light"
        android:allowBackup="true">

        <uses-library android:name="android.test.runner" />

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_swipe"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.apps.drive.APP_ID"
                android:value="FILL_ME_IN" />
        </activity>

        <activity
            android:name="org.bottiger.podcast.activities.intro.Intro"
            android:theme="@style/Theme.Intro"
            android:label="@string/app_intro_activity" />

        <!-- android:theme="@style/Theme.Transparent" -->
        <activity
            android:name=".activities.feedview.FeedActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.Transparent"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

            <intent-filter>
                <action android:name="org.bottiger.podcast.OPEN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name=".receiver.StartFeedActivityReceiver"
            android:exported="true">
        </receiver>

        <activity
            android:name=".activities.discovery.DiscoveryFeedActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.Transparent">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.xml" />
                <data android:pathPattern=".*\\.rss" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:host="feeds.feedburner.com" />
                <data android:host="feedproxy.google.com" />
                <data android:host="feeds2.feedburner.com" />
                <data android:host="feedsproxy.google.com" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:mimeType="text/xml" />
                <data android:mimeType="application/rss+xml" />
                <data android:mimeType="application/atom+xml" />
                <data android:mimeType="application/xml" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="itpc" />
                <data android:scheme="pcast" />
                <data android:scheme="feed" />
                <data android:scheme="soundwaves" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.downloadmanager.DownloadManagerActivity"
            android:label="@string/activity_download_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.bottiger.podcast.MainActivity" />
        </activity>

        <provider
            android:name=".provider.PodcastProvider"
            android:authorities="org.bottiger.podcast.provider.PodcastProvider"
            android:syncable="true"></provider>

        <service
            android:name=".service.jobservice.PodcastUpdateJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".activities.openopml.OpenOpmlFromIntentActivity"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".activities.openopml.OPMLImportExportActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.openopml.OPMLImportExportActivity" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.opml"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.opml"
                    android:scheme="content" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="Settings">
        </activity>

        <activity
            android:name=".activities.pastelog.LogSubmitActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:label="Submit log"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".activities.openopml.OPMLImportExportActivity"
            android:label="@string/opml_import_export_toolbar_title"
            android:parentActivityName=".activities.feedview.FeedActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.feedview.FeedActivity" />
        </activity>

        <activity android:name=".activities.about.AboutActivity"
            android:parentActivityName=".SettingsActivity"
            android:theme="@style/AppTheme.MaterialAboutActivity">

            <intent-filter>
                <action android:name="org.bottiger.podcast.VIEW_ABOUT"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SettingsActivity"/>

        </activity>

        <service
            android:name=".service.PlayerService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

        <service
            android:name=".service.DownloadService"
            android:enabled="true">

        </service>

        <service
            android:name=".player.sonic.SoundService"
            android:enabled="true">
        </service>

        <service android:name=".service.syncadapter.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <!-- android:process=":sync" -->
        <service
            android:name=".service.syncadapter.CloudSyncService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <receiver android:name=".receiver.NotificationBroadcastReceiver">
            <intent-filter>
                <action android:name="org.bottiger.soundwaves.NOTIFICATION_DELETED"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.PodcastUpdateReceiver"
            android:process=":remote"></receiver>
        <receiver android:name=".receiver.AutoStart">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.DownloadManagerReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>
        <receiver android:name="android.support.v4.media.session.MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <!-- WIDGETS -->
        <receiver android:name=".widgets.SoundWavesWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE_OPTIONS" />
                <action android:name="android.appwidget.action.ACTION_APPWIDGET_OPTIONS_CHANGED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/soundwaves_appwidget_info" />
        </receiver>

        <receiver android:name=".widgets.SoundWavesWidgetProviderDark">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE_OPTIONS" />
                <action android:name="android.appwidget.action.ACTION_APPWIDGET_OPTIONS_CHANGED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/soundwaves_appwidget_info_dark" />
        </receiver>

        <!--         Don't be a dick :) -->
        <meta-data
            android:name="com.bugsnag.android.API_KEY"
            android:value="cb1654e5ce7afda81ad5c189540d5ecc" />

        <!--
        <meta-data
            android:name="org.bottiger.podcast.images.SoundWavesGlideModule"
            android:value="GlideModule" />
            -->

        <activity
            android:name=".WebScannerActivity"
            android:label="@string/title_activity_web_scanner"
            android:parentActivityName=".MainActivity"
            android:theme="@style/SoundWavesTheme.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.bottiger.podcast.MainActivity" />
        </activity>

    </application>

</manifest>