<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.bottiger.podcast" >

    <application>

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIbL9pyk7PhnT_qw7sZY1zFYRc-w8CKQ-3VFm_Ng" />

        <meta-data
            android:name=
                "com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="org.bottiger.podcast.flavors.MediaCast.GoogleCastOptionProvider" />

        <!-- [START firebase_service] -->
        <service
            android:name=".flavors.MessagingService.SoundWavesFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <!-- [END firebase_service] -->
        <!-- [START firebase_iid_service] -->
        <service
            android:name=".flavors.MessagingService.SoundWavesFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <!-- [END firebase_iid_service] -->

    </application>

</manifest>