<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.bottiger.podcast" >

    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>

    <application>

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Android auto -->
        <meta-data android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc"/>
        <meta-data android:name="com.google.android.gms.car.notification.SmallIcon"
            android:resource="@drawable/soundwaves" />
            -


        <meta-data android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIbL9pyk7PhnT_qw7sZY1zFYRc-w8CKQ-3VFm_Ng" />

        <meta-data
            android:name=
                "com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="org.bottiger.podcast.flavors.MediaCast.GoogleCastOptionProvider" />

        <!-- Service that provides activity recognition data. Setting the android:exported attribute
            to "false" stops other apps from starting this service, even when using an explicit
            intent. -->
        <service
            android:name=".flavors.Activities.DetectedActivitiesIntentService"
            android:exported="false" />

        <!-- [START firebase_service] -->
        <service
            android:name=".flavors.MessagingService.MessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <!-- [END firebase_service] -->
        <!-- [START firebase_iid_service] -->
        <service
            android:name=".flavors.MessagingService.InstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <!-- [END firebase_iid_service] -->

    </application>

</manifest>